<%= form_for(location) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :latitude %>
    <%= f.label :latitude %>
  </div>

  <div class="field">
    <%= f.text_area :longitude %>
    <%= f.label :longitude %>
  </div>

  <div class="field">
    <%= f.text_area :address %>
    <%= f.label :address %>
  </div>

  <div class="field">
    <%= f.text_area :description %>
    <%= f.label :description %>
  </div>

  <div class="field">
    <%= f.text_area :title %>
    <%= f.label :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
