<p id="notice"><%= notice %></p>
<%= render partial: "shared/map" %><br>
<button class="btn btn-default">
  <%= link_to 'New Location', new_location_path %>
</button>

<h1>Locations</h1>
<table class="datatable table table-hover" id="items">
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Description</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <!-- <tr> -->
      <tr id='<%= location.id %>'>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= location.address %></td>
        <td><%= location.description %></td>
        <td><%= location.title %></td>


        <td class="dropdown no_bottom">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu less_width" aria-labelledby="dropdownMenu1">

            <li><%= link_to 'Show', location %></li>
            <li><%= link_to 'Edit', edit_location_path(location) %></li>

          <!-- typical rails -->
            <!-- <li>< %= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></li> -->

          <!-- ajax version, allows destroy of item without page refresh, first time only -->
            <li class="destroy">Destroy</li>
          </ul>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
