<p id="notice"><%= notice %></p>

  <!-- map location -->
    <div style='width: 800px;'>
    <div id="current_item_location" style='width: 800px; height: 400px;'></div>
    </div>

    <script type="text/javascript">
      var mapStyle = [
        // JAVASCRIPT STYLE ARRAY: http://snazzymaps.com/
        {"featureType":"administrative","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","elementType":"all","stylers":[{"saturation":-100},{"lightness":"50"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"lightness":"30"}]},{"featureType":"road.local","elementType":"all","stylers":[{"lightness":"40"}]},{"featureType":"transit","elementType":"all","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]},{"featureType":"water","elementType":"labels","stylers":[{"lightness":-25},{"saturation":-100}]}
      ]

      var handler = Gmaps.build('Google');
      handler.buildMap({
        internal: {id: 'current_item_location'},
        provider: {
          zoom:      16,
          // center:    new google.maps.LatLng(45.5231, -122.6765),
          center:    new google.maps.LatLng(
            <%= @location.latitude %>,
            <%= @location.longitude %>
          ),
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles:    mapStyle
        }
      },
      function(){
        var markers = handler.addMarkers([
          {
            lat: <%= @location.latitude %>,
            lng: <%= @location.longitude %>,

            picture: {
              url: "http://i.imgur.com/xOCKGPF.png",
              width:  36,
              height: 36
            },
            infowindow: "<%= @location.title %>"
          }
        ]);
      });
    </script>

<li>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</li>
<li>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</li>
<li>
  <strong>Address:</strong>
  <%= @location.address %>
</li>
<li>
  <strong>Description:</strong>
  <%= @location.description %>
</li>
<li>
  <strong>Title:</strong>
  <%= @location.title %>
</li>
<br>

<button class="btn btn-default">
  <%= link_to 'Edit', edit_location_path(@location) %>
</button>
<button class="btn btn-default">
  <%= link_to 'Back', locations_path %>
</button>
